<table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top"> 
  <tbody>
   <tr style="border-collapse:collapse"> 
    <td valign="top" style="padding:0;Margin:0"> 
     <table class="es-content" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
      <tbody>
       <tr style="border-collapse:collapse"> 
        <td align="center" style="padding:0;Margin:0"> 
         <table class="es-content-body" cellspacing="0" cellpadding="0" align="center" bgcolor="#5e00e5" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#5E00E5;width:600px"> 
          <tbody>
           <tr style="border-collapse:collapse"> 
            <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"> 
             <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
              <tbody>
               <tr style="border-collapse:collapse"> 
                <td align="center" valign="top" style="padding:0;Margin:0;width:560px"> 
                 <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                  <tbody>
                   <tr style="border-collapse:collapse"> 
                    <td align="center" style="padding:0;Margin:0;padding-top:40px;padding-bottom:40px;font-size:0px"><a target="_blank" href="https://nplay.com.br" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:lato, 'helvetica neue', helvetica, arial, sans-serif;font-size:16px;text-decoration:underline;color:#CDC7BA"><img src="https://hkwmyt.stripocdn.email/content/guids/CABINET_19f8624193f9eb08054219aeee83358a/images/72951595949256280.png" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic" width="186"></a></td> 
                   </tr> 
                  </tbody>
                 </table></td> 
               </tr> 
              </tbody>
             </table></td> 
           </tr> 
          </tbody>
         </table></td> 
       </tr> 
      </tbody>
     </table> 
     <table class="es-content" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"> 
      <tbody>
       <tr style="border-collapse:collapse"> 
        <td align="center" style="padding:0;Margin:0"> 
         <table class="es-content-body" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px"> 
          <tbody>
           <tr style="border-collapse:collapse"> 
            <td class="es-m-p0" align="left" style="Margin:0;padding-bottom:20px;padding-left:20px;padding-right:20px;padding-top:40px"> 
             <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
              <tbody>
               <tr style="border-collapse:collapse"> 
                <td valign="top" align="center" style="padding:0;Margin:0;width:560px"> 
                 <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                  <tbody>
                   <tr style="border-collapse:collapse"> 
                    <td align="left" style="padding:0;Margin:0;padding-top:40px;padding-bottom:40px"><h1 style="Margin:0;line-height:34px;mso-line-height-rule:exactly;font-family:lato, 'helvetica neue', helvetica, arial, sans-serif;font-size:28px;font-style:normal;font-weight:normal;color:#5E00E5;text-align:center">Obrigado por se inscrever {{username}}!</h1></td> 
                   </tr>
                   <tr style="border-collapse:collapse"> 
                    <td align="center" style="Margin:0;padding-left:20px;padding-right:20px;padding-top:40px;padding-bottom:40px"><h1 style="Margin:0;line-height:36px;mso-line-height-rule:exactly;font-family:lato, 'helvetica neue', helvetica, arial, sans-serif;font-size:24px;font-style:normal;font-weight:normal;color:#5E00E5;text-align:center"><span style="color:#696969">Olá! estamos felizes em vê-lo por aqui, pode ficar</span>&nbsp;tranquilo<span style="color:#696969">, em breve um de nossos consultores entrará em contato com você para explicar tudo que você precisa saber</span></h1><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:16px;font-family:lato, 'helvetica neue', helvetica, arial, sans-serif;line-height:24px;color:#696969"><br></p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:16px;font-family:lato, 'helvetica neue', helvetica, arial, sans-serif;line-height:24px;color:#696969"><br>Boas vendas!</p></td> 
                   </tr> 
                  </tbody>
                 </table></td> 
               </tr> 
              </tbody>
             </table></td> 
           </tr> 
          </tbody>
         </table></td> 
       </tr> 
      </tbody>
     </table> 
     <table class="es-footer" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;background-color:transparent;background-repeat:repeat;background-position:center top"> 
      <tbody>
       <tr style="border-collapse:collapse"></tr> 
       <tr style="border-collapse:collapse"> 
        <td align="center" style="padding:0;Margin:0"> 
         <table class="es-footer-body" cellspacing="0" cellpadding="0" align="center" bgcolor="#5e00e5" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#5E00E5;width:600px"> 
          <tbody>
           <tr style="border-collapse:collapse"> 
            <td align="left" style="Margin:0;padding-left:20px;padding-right:20px;padding-top:30px;padding-bottom:30px"> 
             <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
              <tbody>
               <tr style="border-collapse:collapse"> 
                <td valign="top" align="center" style="padding:0;Margin:0;width:560px"> 
                 <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"> 
                  <tbody>
                   <tr style="border-collapse:collapse"> 
                    <td align="center" style="padding:0;Margin:0;padding-top:15px"><strong><span style="font-size:14px"><a target="_blank" href="mailto:comercial@nplay.com.br" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:lato, 'helvetica neue', helvetica, arial, sans-serif;font-size:14px;text-decoration:underline;color:#FFFFFF">comercial@nplay.com.br</a><span style="color:#FFFFFF"> | <a target="_blank" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:lato, 'helvetica neue', helvetica, arial, sans-serif;font-size:14px;text-decoration:underline;color:#FFFFFF" href="">nplay.com.br</a></span></span></strong></td> 
                   </tr> 
                  </tbody>
                 </table></td> 
               </tr> 
              </tbody>
             </table></td> 
           </tr> 
          </tbody>
         </table></td> 
       </tr> 
      </tbody>
     </table></td> 
   </tr> 
  </tbody>
 </table>